# Dependencies
backend/node_modules

# yarn error logs
backend/yarn-error.log

# Code coverage
backend/coverage

backend/yarn.lock
backend/package-lock.json

# Dependencies
frontend/node_modules

# yarn error logs
frontend/yarn-error.log

frontend/yarn.lock
frontend/package-lock.json